*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root{
    --color-letra: #111;
    --color-azul: blue;

}

body{
    text-align: center;
    font-size:1.5em;
}

.imagen{
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 250, 250,0.8)),url("./images/codigocss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    min-height: 100vh;
    /* min-width: 100vw; */
}


header{

    text-align:center;
    margin-bottom: 50px;
    height: 100px;

}

main{
    width:80%;
    margin:auto;

}

h1{
    color:var(--color-azul);
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    /* height especifica la ALTURA del contenido. */
}

h2{
    font-size:1.75em;
    margin-bottom: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color-letra)
}

h3{
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 2px var(--color-azul); /*horizontal, vertical, sombreado*/
    margin:10px;
}

/*Pagina contactanos y cabecera y footer*/



.contacto p{
    margin: 0 auto;
}

.navegacion{
    
    background-color: rgb(20, 20, 20);
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:0px 30px;
    justify-content: space-between;

}

a{
    /* margin: 10px; */
    text-decoration:none;
    font-style: oblique;
    color:rgb(247, 247, 247);
}

a:visited {
    color:rgb(247, 247, 247);
}

.sinFondo{
    width: 170px; 
    /* height: 70px; */
}
footer {
    display: flex; 
    background-color: aqua;
    font-size: small;
    width: 100%;
    align-items: center;
    position:fixed; 
    bottom:0px;
    color:var(--color-letra);
}

.footer-email{
    width:33%;
    text-align: right;
}

.footer-telefono{
    width:34%;
}

.mapa{
    border: 5px solid rgb(5, 5, 5);
    margin-top: 100px;
}

/*pagina conocenos*/

.mentores{
    margin-top: 25px;
    display:flex;
    flex-direction:column; 
    align-items:center;

}

.mentores--mentor{
    display:flex;
    width:80%;
    margin-bottom: 30px;
}

.mentores--mentor img{

    margin-top: 30px;
    border-radius: 50%;
    width: 250px;
    align-items:center;
}

.mentores--mentor img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out 0.1s;
    /* tarda 0.5 segundos en hacer la transicion y 0.1 segundos desde que posicionamos raton*/
}

.mentores--mentor--texto {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 40px;
    text-align: right;
}

/*HOME*/
.lineas {

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    /* flex: 1 1 auto; */


}

.linea{
    flex: 1 0 auto;
    display:flex;
    flex-direction:column;
    padding: 15px;
    width:max-content;
    border: 1px solid;
    box-sizing: border-box;
}

.linea:hover{
    background: linear-gradient(rgba(214, 214, 214, 0.623),#ffffff);
}

.linea--numberdiames{

    align-items: center;
    border-bottom: 1px solid #666;

}
.linea--numberdiames--number{

    padding:30px;
    display:inline-block;
    font-weight: bold;
    font-size: 100px;

    text-shadow: 1px 1px 2px var(--color-azul);;
}

.linea--modalidad{
    display:inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:15px;

}

.linea--numberdiames--diames{
    padding: 30px;
    margin-left: 20px;
    display:inline-block;
    order:0;
}

.linea--numberdiames--diames p{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:var(--color-azul);
}

.linea--numberdiames:hover{
    transform: rotate(0.5turn);;
    
}

.linea--online{
    display:inline-block;
}

.linea--online p{
    font-size: 50px;
    color:var(--color-azul);
}

.linea--boton{
    display:inline-block;
    padding: 15px;
}

.boton{
    display: inline-block;
    width: 150px;
    margin:auto;
    font-size: 25px;
    border-radius: 20px;
    background-color:aqua;
}

.calendario{

    border: 1px solid rgb(5, 5, 5);

    height: 385px;
}

.todaslineas{

    display:flex;
    flex: 1 0 auto;
    /* Primer parametro, cantidad de espacio que debe ocupar el elemento */
    flex-direction: row;

}



/*Estilos tabla */

/* .tabla{
    overflow-y: scroll;

} */

.tabla{
    border-radius: 10%;
}
table{

    width:100%;
    border-collapse:collapse;

    /*El borde que viene por defecto tambien me mola*/
    caption-side: top;
    vertical-align: bottom;
    font-size: 25px;
    color: var(--color-letra);

     /* border: 1px solid black;
    border-radius: 10px; */


}

table th{
    border: 1px solid black;
    background-color: rgba(0, 17, 255, 0.7);
    font-style: italic;
    

}

td{
    border: 1px solid black;

}

tr:hover{
    background-color: rgba(219, 219, 103, 0.178);
}

tr:hover:nth-child(odd) {
    background-color: rgba(219, 219, 103, 0.178);
}

tr:nth-child(odd) {
    background-color: #dfdfdf;
}

table td:first-child{
    font-weight: bold;
}

/* table td:nth-child(odd){
    font-size:1.25em;
} */

th, td {
    padding: 15px;
    
}

/*Listas*/


/*Hijos, los ol que están dentro del grid container*/
.html--css{
    border: 1px solid black;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px; 
    /* justify-items:center;   */
}

.html-css, p::first-line{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    background-color: #dfdfdf;
}

ol{
    text-align: left;
}


ol li{
    margin-left:20px;
}

ol li ul li{
    margin-left:20px;
}

