*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root{
    --color-letra: #111;
    --color-azul: blue;
}

body{
    text-align: center;
    font-size:1.5em;
}

.imagen{
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 250, 250,0.8)),url("./images/codigocss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    min-height: 97vh;
    padding-bottom: 5vh;
    /* min-width: 100vw; */
}

header{
    text-align:center;
    margin-bottom: 50px;
    height: 100px;
}

main{
    width:80%;
    margin:auto;
}

h1{
    color:var(--color-azul);
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    /* height especifica la ALTURA del contenido. */
}

h2{
    font-size:1.75em;
    margin-bottom: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color-letra)
}

h3{
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 2px var(--color-azul); /*horizontal, vertical, sombreado*/
    margin:10px;
}

/*Pagina contactanos y cabecera y footer*/

.contacto p{
    margin: 0 auto;
}

.navegacion{
    background-color: rgb(20, 20, 20);
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:0px 30px;
    justify-content: space-between;
}

a{
    text-decoration:none;
    font-style: oblique;
    color:rgb(247, 247, 247);
}

a:visited {
    color:rgb(247, 247, 247);
}

.active{
    background: linear-gradient(var(--color-azul),var(--color-letra));
    align-items: center;
    height: 55px;
    padding:15px 50px;
}

.sinFondo{
    width: 170px; 
}
footer {
    /* display: flex;  */
    display:grid;
    grid-template-columns: 30% 30% 30%;
    margin:auto;
    justify-content:center;
    align-items:center;
    background-color: aqua;    
    color:var(--color-letra);
    font-size: small;
    width: 100%;
    position:fixed; 
    bottom:0px;
    height: 4vh;
    font-size: 0.75em;
}


.mapa{
    border: 5px solid rgb(5, 5, 5);
    margin-top: 100px;
}

/*pagina conocenos*/

.mentores{
    margin-top: 25px;
    display:flex;
    flex-direction:column; 
    align-items:center;
}

.mentores--mentor{
    display:flex;
    width:80%;
    margin-bottom: 30px;
}

.mentores--mentor img{
    margin-top: 30px;
    border-radius: 50%;
    width: 250px;
    align-items:center;
}

.mentores--mentor img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out 0.1s;
    /* tarda 0.5 segundos en hacer la transicion y 0.1 segundos desde que posicionamos raton*/
}

.mentores--mentor--texto {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 40px;
    text-align: right;
}

/*HOME*/
.lineas {

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.linea{
    flex: 1 0 auto;
    display:flex;
    flex-direction:column;
    padding: 15px;
    width:max-content;
    border: 1px solid;
    box-sizing: border-box;
}

.linea:hover{
    background: linear-gradient(rgba(214, 214, 214, 0.623),#ffffff);
}

.linea--numberdiames{

    align-items: center;
    border-bottom: 1px solid #666;
}

.linea--numberdiames--number{
    padding:30px;
    display:inline-block;
    font-weight: bold;
    font-size: 100px;
    text-shadow: 1px 1px 2px var(--color-azul);;
}

.linea--modalidad{
    display:inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:15px;
}

.linea--numberdiames--diames{
    padding: 30px;
    margin-left: 20px;
    display:inline-block;
    order:0;
}

.linea--numberdiames--diames p{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:var(--color-azul);
}

.linea--numberdiames:hover{
    transform: rotate(0.5turn);; 
}

.linea--online{
    display:inline-block;
}

.linea--online p{
    font-size: 50px;
    color:var(--color-azul);
}

.linea--boton{
    display:inline-block;
    padding: 15px;
}

.boton{
    display: inline-block;
    width: 150px;
    margin:auto;
    font-size: 25px;
    border: 1px solid var(--color-letra);
    border-radius: 20px;
    background-color:aqua;
}

.boton:visited{
    color:var(--color-letra);
}
.calendario{
    border: 1px solid rgb(5, 5, 5);
    height: 385px;
}

.todaslineas{
    display:flex;
    flex: 1 0 auto;
    /* Primer parametro, cantidad de espacio que debe ocupar el elemento */
    flex-direction: row;
}
/*Estilos tabla */
/* .tabla{
    overflow-y: scroll;
} */

.tabla{
    margin-bottom: 50px;
}
table{
    width:100%;
    border-collapse:collapse;
    /*El borde que viene por defecto tambien me mola*/
    vertical-align: bottom;
    font-size: 25px;
    color: var(--color-letra);
}

table th{
    border: 1px solid black;
    background-color: rgba(0, 17, 255, 0.7);
    font-style: italic;
}

td{
    border: 1px solid black;
}

th{
    font-size: 1.25em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tr:hover{
    background-color: rgba(219, 219, 103, 0.178);
}

tr:hover:nth-child(odd) {
    background-color: rgba(219, 219, 103, 0.178);
}

tr:nth-child(odd) {
    background-color: #dfdfdf;
}

table td:first-child{
    font-weight: bold;
}

th, td {
    padding: 15px;
}

/*Listas*/

.listas--container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.html{
    display: inline-block;
    border: 1px solid black;
    flex-direction: column;
    list-style-type: none;
    width: 50%;
    min-height: 80%;
}

.html1, .html2{
    flex-direction: column;
    display: inline-block;
    flex-direction: row;
    width:auto;
    font-size: 1.25em;
    font-weight:bolder;
    margin-top: 15px;
}

.html1 {
    padding-right: 100px;
    margin-right: 100px;
    align-content: center;
}

.css{
    display: inline-block;
    border: 1px solid black;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-evenly;
    width: 50%;
}

/*Selecciono todos los elementos de la clase css1 y css2*/
.css1, .css2{
    flex-direction: column;
    display: inline-block;
    flex-direction: row;
    width:auto;
    vertical-align: top;
    font-size: 1.25em;
    font-weight:bolder;
    margin-top: 15px;
}

.css1{ 
    padding-right: 100px;
    margin-right: 100px;
    text-align: start;
}
.html p{
    border-bottom: 1px solid black;
    background-color: rgba(0, 17, 255, 0.7);
    font-style: italic;
    font-size: 1.25em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.css p{
    border-bottom: 1px solid black;
    background-color: rgba(0, 17, 255, 0.7);
    font-style: italic;
    font-size: 1.25em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


ul{
    display: block;
    list-style-type: square;
    margin: 10px 10px;
}

li:before {
    content: "";
    padding-left: 0px;
}

ul li{
    font-size: 1em;
    font-weight:normal;
    margin: 0px 20px;
}

ol{
    list-style-type: circle;
}

.horario{
    width: 100%;
    border: 1px solid var(--color-letra);
}

dl dt:nth-child(3n+1){
    border-bottom: 1px solid black;
    background-color: rgba(0, 17, 255, 0.7);
    padding: 8px;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

dt{
    background-color: #dfdfdf;
    padding:10px;
    font-style: oblique;
}

dd{
    margin:5px;
}
dd:hover {
    background-color: rgba(219, 219, 103, 0.178);
}

/*Formulario*/

.formulario{
    border: var(--color-letra);
    box-shadow: 1px 2px 10px var(--color-azul);
    width: 80%;
    margin: auto;
}

textarea{
    width: 80%;
    margin: 15px 10px;
    padding: 15px;
    font-size:1.25em;
}

input, select{
    padding: 10px 12px;
    margin: 15px;
    border: none;
    border-bottom: 2px solid var(--color-letra);
    background-color: transparent;
    font-size: 0.75em;
    font-weight: bolder;
}

.form--datos-personales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 5px 5px;
    align-content: center;
    justify-content:space-between;
    width: 95%;
    margin:auto;
    margin-bottom: 30px;
}

#nombre, #edad, #telefono, #email, #cp{
    flex-basis: 30%;
}

#poblacion, #email{
    flex-grow:1;
}

#apellidos{
    flex-grow: 1;
    flex-basis: 60%;
}

.genero{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 30%;
    margin: 15px;
    flex-basis:30%;
    justify-content: center;
}

.genero--hm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 15px;
}

.form--info-curso{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px 5px;
    width: 95%;
    margin:15px auto;
    justify-content: center;
}

.form--info-curso-modalidad{
    width: 30%;

}
.form--info-curso-modalidad--fp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

.form--info-curso-cf{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}

.form--info-curso-ciudadfecha{
    display: flex;
    justify-content: end;
    gap: 50px;
}

.formulario .boton{
    margin:15px;
}

.tecnologias{
    width: 100%;
    margin:15px 20px;
}


@media only screen and (max-width:1200px){
    header{
        height: 30vh;
        width: 100%;
    }

    body{ 
        height: 100vh;
    }

    main{
        width: 90%;
        margin:auto;
        padding: 5px;
    }

    footer{
        /* height: 8vh; */
        display : none; 
        visibility : hidden; 
    }

    .mapa{
        width: 70%;
        height: 70%;
    }

    /* pagina conocenos con footer y nav*/
    .navegacion{
        display:flex;
        flex-direction: column;
        align-items: center;
        /* position:fixed; */
        width: 100%;
        top:0px;
    }

    .active{
        width: 100%;
    }

    h2{
        margin-bottom: 25px;
    }

    table{
        display: block;
        overflow-x: scroll;
    }

    .listas--container {
        display:flex;
        flex-direction: column;
        margin-bottom: 25px;
        
    }

    /*pagina mentores*/
    .mentores {
        margin-top: 25px;
        align-items: center;
    }
    .mentores--mentor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 30px;
    }
    .mentores--mentor img {
        border-radius: 50%;
        width: 40%;
        margin:auto;
    }


    .mentores--mentor--texto{
        text-align: center;
    }
    
    .html1, .html2, .css1, .css2{
        display: flex;
        padding-right: 0px;
        margin-right: 0px;
        justify-content: space-evenly;
    }

    /* Inscripcion*/

    #nombre, #edad, #telefono, #email, #cp, #poblacion, #email, #apellidos, #ciudad, #fecha{
        width: 100%;
        flex: 1 1 auto;
    }

    .genero{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .genero--hm{
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    .form--info-curso-modalidad{
        display:block;
        width: 100%;
    }

    .tecnologias{
        display: flex;
        flex-wrap: wrap;
    }
    .form--info-curso-ciudadfecha {
        display: flex;
        gap: 0px 10px;
        flex-direction: column;
    }

    .form--info-curso-ciudadfecha #ciudad, #fecha{
        margin:10px;
        padding:0px;
    }

    /*home*/
    .lineas{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .calendario{
            width: 70%;
            height: 70%;
            margin: auto;
    }

    .todaslineas{
        flex-direction: column;
        width: 47%; 
        margin: auto;
    }

    .linea{
        width: 100%;
    }

  }